/* -------- NAVBAR WRAPPER -------- */
.navbar {
  width: 100%;
  height: 80px;
  padding: 0 40px;
  background: #0c0c0c;
  color: white;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

/* -------- LOGO -------- */
.nav-logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

/* -------- MENU ICON -------- */
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
.menu-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}


/* -------- MENU -------- */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.nav-menu li {
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-menu li:hover {
  color: #00d8ff;
  transform: translateY(-2px);
}

.nav-menu li a {
  color: inherit;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

.nav-menu li a.active {
  color: #00d8ff;
  font-weight: 600;
}

.nav-menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #00d8ff;
  left: 50%;
  bottom: 0;
  transition: 0.3s ease;
}

.nav-menu li a.active::after {
  width: 100%;
  left: 0;
}

/* -------- MOBILE -------- */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    right: 3px;
    margin-top: 0;
    width: 45%;
    background: #0c0c0c;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);

    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding: 20px 30px ;
    padding-top: 10px;
    display: none;
  }
  .nav-logo {
    font-size: 20px;
  }
  .menu-icon {
    font-size: 20px;
  }
  .nav-menu.active {
    display: flex;
  }
}
